body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #1e3c72, #2a5298);
    color: white;
}


header {
    background: rgba(0,0,0,0.7);
    padding: 15px;
    text-align: center;
}


nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

nav a:hover {
    color: gold;
}

.hero {
    text-align: center;
    padding: 100px 20px;
    animation: pojawianie 2s ease-in-out;
}

button {
    padding: 10px 20px;
    border: none;
    background: gold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.1);
}

.slider {
    text-align: center;
    padding: 20px;
}

.slider img {
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
    padding: 20px;
}

.galeria img {
    width: 100%;
    border-radius: 10px;
    transition: 0.3s;
}

.galeria img:hover {
    transform: scale(1.05);
}

.sekcja {
    opacity: 0;
    transform: translateY(30px);
    transition: 1s;
    padding: 40px;
    text-align: center;
}

.widoczna {
    opacity: 1;
    transform: translateY(0);
}

@keyframes pojawianie {
    from {opacity: 0;}
    to {opacity: 1;}
}

footer {
    text-align: center;
    padding: 20px;
    background: rgba(0,0,0,0.7);
}
